name: Check formatting

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-and-zip:
    runs-on: ubuntu-latest
    env:
      PROJECT_NAME: PseudoRenderingFarm

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Black
        run: pip install black
      - name: Run Black Check
        run: black --check .
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PROJECT_NAME }}
          path: |
            __init__.py
            blender_manifest.toml
          retention-days: 5
